/* .Logo{
    width: 40%;
    height: auto;
}
@media(max-width: 700px){
    .Logo{
        width: 80%;
        border-radius: 5%;
        margin-top: 10px;
    }
} */
.Container{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.Result{
    list-style: none;
    padding: 0
}
.Result li{
    display: inline-block;
    width: 30%;
    border: 1px solid transparent;
    border-radius: 15%;
    margin: 15px 0px ;
    color:#999;
    text-align: center
}
.Result li h4{
    width: 80%;
    margin: auto;
}
.Result img{
    border: none;
    border-radius: 5%;
    width: 90%;
    height: auto
}

@media (max-width: 1020px){
    .Result li{
        width: 30%;
    }
}
@media (max-width: 700px){
    .Result li{
        width: 100%;
        text-align: center;
    }
    .Container{
        margin: 10%
    }
}