.Detail{
    width: 60%;
    height: auto;
    margin: 10px auto;
    padding: 30px;
    border: 3px solid #555;
    border-radius: 5%
}
.Detail h2{
    color: #999;
    font-size: 200%;
}
.Items{
    text-align: justify;
    color: #999;
}
.Items span{
    font-weight: bold;
    font-size: 115%;
}

@media (max-width: 600px){
    .Detail img{
        width: 100%;
    }
}